ASSIGNMENT 2 

IBM
### We learnt to play with DATA

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"/content/DATASET/Social_Network_Ads_1.csv")

In [6]:
df.head(10)

    User ID        Date  Country  Gender  Age  EstimatedSalary  Purchased
0  15624510  01-03-2012   France    Male   19          19000.0          0
1  15810944  01-04-2012    Italy    Male   35          20000.0          0
2  15668575  01-05-2012   France  Female   26          43000.0          0
3  15603246  01-06-2012  Germany  Female   27          57000.0          0
4  15804002  01-09-2012   France    Male   19          76000.0          0
5  15728773  01-10-2012    Italy    Male   27          58000.0          0
6  15598044  01-11-2012   France  Female   27          84000.0          0
7  15694829  01-12-2012    Italy  Female   32         150000.0          1
8  15600575   1/13/2012    Italy    Male   25          33000.0          0
9  15727311   1/17/2012  Germany  Female   35          65000.0          0

In [11]:
df.isnull().any()

User ID            False
Date               False
Country            False
Gender             False
Age                False
EstimatedSalary     True
Purchased          False
dtype: bool

In [12]:
df.isnull().sum()

User ID            0
Date               0
Country            0
Gender             0
Age                0
EstimatedSalary    2
Purchased          0
dtype: int64

#### handle the missing values

In [19]:
df['EstimatedSalary'].mean()

82366.58354114713

In [16]:
df['EstimatedSalary'].fillna(df['EstimatedSalary'].mean(),inplace=True)

In [18]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

In [21]:
df['Country'].mode()[0]

'Italy'

In [23]:
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)

In [24]:
df.isnull().any()

User ID            False
Date               False
Country            False
Gender             False
Age                False
EstimatedSalary    False
Purchased          False
dtype: bool

#### Handle the categorical data

In [26]:
df["Country"].unique()

array(['France', 'Italy', 'Germany', ']Italy&', ']Germany&', 'Germany&'],
      dtype=object)

In [27]:
# pip install tensorflow --user

In [28]:
# we can convert categorical data into numerical data
# we can convert categorical data into binary data

In [30]:
from sklearn.compose import ColumnTransformer

In [31]:
from sklearn.pipeline import Pipeline

In [32]:
from sklearn.preprocessing import OneHotEncoder

In [33]:
df.head()

    User ID        Date  Country  Gender  Age  EstimatedSalary  Purchased
0  15624510  01-03-2012   France    Male   19          19000.0          0
1  15810944  01-04-2012    Italy    Male   35          20000.0          0
2  15668575  01-05-2012   France  Female   26          43000.0          0
3  15603246  01-06-2012  Germany  Female   27          57000.0          0
4  15804002  01-09-2012   France    Male   19          76000.0          0

In [34]:
x = df.iloc[:,0:4].values  # x is independant variables
# .values is used to convert dataframe to numpy array

In [35]:
y = df.iloc[:,4:5].values

In [36]:
x.shape

(403, 4)

In [37]:
y.shape

(403, 1)

In [38]:
ct = ColumnTransformer([("oh",OneHotEncoder(),[3])],remainder="passthrough")

In [39]:
x = ct.fit_transform(x)

In [41]:
x.shape

(403, 5)

In [43]:
x

array([[0.0, 1.0, 15624510, '01-03-2012', 'France'],
       [0.0, 1.0, 15810944, '01-04-2012', 'Italy'],
       [1.0, 0.0, 15668575, '01-05-2012', 'France'],
       ...,
       [1.0, 0.0, 15654296, '08-07-2013', 'Italy'],
       [0.0, 1.0, 15755018, '08-08-2013', 'Germany'],
       [1.0, 0.0, 15594041, '08-09-2013', 'Germany&']], dtype=object)

In [44]:
import joblib

In [45]:
joblib.dump(ct,"startct.pkl")

['startct.pkl']

#### Split your data into train and test

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [48]:
x_train.shape

(322, 5)

In [49]:
x_test.shape

(81, 5)

In [50]:
a = [1,2,3,4,5,6,7,8,9,10]
b = [0,1,0,1,0,1,0,1,0,1]

In [51]:
for i in range(5):
    atrain,atest,btrain,btest = train_test_split(a,b,test_size=0.2)
    print(atrain)

[1, 4, 5, 3, 6, 10, 2, 9]
[5, 9, 8, 2, 4, 1, 7, 10]
[5, 1, 8, 2, 4, 9, 7, 10]
[2, 10, 1, 7, 6, 9, 8, 3]
[2, 7, 3, 10, 8, 9, 1, 4]

In [52]:
for i in range(5):
    atrain,atest,btrain,btest = train_test_split(a,b,test_size=0.2,random_state=0)
    print(atrain)

[5, 10, 2, 7, 8, 4, 1, 6]
[5, 10, 2, 7, 8, 4, 1, 6]
[5, 10, 2, 7, 8, 4, 1, 6]
[5, 10, 2, 7, 8, 4, 1, 6]
[5, 10, 2, 7, 8, 4, 1, 6]

#### Feature scaling

In [54]:
from sklearn.preprocessing import StandardScaler

In [55]:
sc = StandardScaler()

In [59]:
x_test

array([[1.0, 0.0, 15680243, '10/16/2012', 'Germany'],
       [1.0, 0.0, 15575247, '4/24/2013', 'Italy'],
       [1.0, 0.0, 15789109, '3/28/2012', 'France'],
       [1.0, 0.0, 15667265, '4/25/2012', 'Germany'],
       [0.0, 1.0, 15718071, '04-05-2012', 'Italy'],
       [0.0, 1.0, 15625395, '03-08-2013', 'Germany'],
       [1.0, 0.0, 15738448, '10/15/2012', 'France'],
       [1.0, 0.0, 15691808, '12-03-2012', 'Italy'],
       [0.0, 1.0, 15617134, '7/26/2012', 'Germany'],
       [1.0, 0.0, 15566689, '03-12-2013', 'Italy'],
       [0.0, 1.0, 15689425, '2/27/2012', 'France'],
       [0.0, 1.0, 15671249, '6/25/2013', 'France'],
       [0.0, 1.0, 15685346, '11/30/2012', 'Italy'],
       [0.0, 1.0, 15578006, '7/17/2012', 'Italy'],
       [0.0, 1.0, 15746139, '1/20/2012', 'Italy'],
       [0.0, 1.0, 15674331, '4/22/2013', 'Italy'],
       [0.0, 1.0, 15721592, '1/29/2013', 'Germany'],
       [1.0, 0.0, 15666141, '7/25/2012', 'Italy'],
       [1.0, 0.0, 15644296, '09-12-2012', 'Italy'],
       [1.0, 0.0, 15794661, '09-10-2012', 'Italy'],
       [0.0, 1.0, 15746737, '4/23/2012', 'Italy'],
       [1.0, 0.0, 15757632, '08-02-2013', 'Germany'],
       [0.0, 1.0, 15807909, '7/24/2012', 'France'],
       [0.0, 1.0, 15729908, '5/22/2013', 'Italy'],
       [1.0, 0.0, 15614420, '9/13/2012', 'France'],
       [0.0, 1.0, 15577514, '6/14/2013', 'France'],
       [0.0, 1.0, 15605327, '8/13/2012', 'Germany'],
       [0.0, 1.0, 15697686, '1/25/2012', 'Germany'],
       [1.0, 0.0, 15779529, '11/13/2012', 'France'],
       [0.0, 1.0, 15592877, '4/19/2012', 'Italy'],
       [1.0, 0.0, 15584545, '5/30/2012', 'Italy'],
       [0.0, 1.0, 15593715, '11/26/2012', 'Germany'],
       [1.0, 0.0, 15800061, '7/16/2012', 'France'],
       [0.0, 1.0, 15637593, '3/25/2013', 'France'],
       [0.0, 1.0, 15766289, '5/25/2012', 'France'],
       [1.0, 0.0, 15753861, '04-09-2013', 'France'],
       [0.0, 1.0, 15614187, '12-10-2012', 'Italy'],
       [0.0, 1.0, 15715160, '10-04-2012', 'Germany'],
       [0.0, 1.0, 15745083, '10/17/2012', 'Germany'],
       [0.0, 1.0, 15814004, '3/29/2012', 'France'],
       [1.0, 0.0, 15775590, '12/31/2012', 'Italy'],
       [1.0, 0.0, 15614827, '8/31/2012', 'Italy'],
       [0.0, 1.0, 15794493, '1/15/2013', 'France'],
       [1.0, 0.0, 15598044, '01-11-2012', 'France'],
       [0.0, 1.0, 15810944, '01-04-2012', 'Italy'],
       [0.0, 1.0, 15673539, '3/14/2013', 'Germany'],
       [0.0, 1.0, 15684801, '05-11-2012', 'Germany'],
       [1.0, 0.0, 15654901, '3/21/2012', 'Germany'],
       [0.0, 1.0, 15762605, '8/17/2012', 'Germany'],
       [0.0, 1.0, 15664907, '05-10-2013', 'Germany'],
       [1.0, 0.0, 15598840, '8/20/2012', 'Germany'],
       [0.0, 1.0, 15791373, '02-06-2013', 'Germany'],
       [0.0, 1.0, 15586757, '03-06-2013', 'Germany'],
       [1.0, 0.0, 15746422, '7/31/2012', 'Italy'],
       [1.0, 0.0, 15639576, '05-01-2013', 'France'],
       [1.0, 0.0, 15594041, '08-09-2013', 'Germany&'],
       [1.0, 0.0, 15678168, '6/29/2012', 'Italy'],
       [1.0, 0.0, 15619407, '12-11-2012', 'Germany'],
       [1.0, 0.0, 15744919, '3/19/2012', 'Italy'],
       [1.0, 0.0, 15570769, '1/18/2012', 'Italy'],
       [0.0, 1.0, 15792818, '02-09-2012', 'France'],
       [0.0, 1.0, 15639277, '03-08-2012', 'Germany'],
       [0.0, 1.0, 15638646, '2/26/2013', 'Italy'],
       [1.0, 0.0, 15610140, '8/14/2012', 'Germany'],
       [0.0, 1.0, 15804002, '01-09-2012', 'France'],
       [1.0, 0.0, 15724536, '11-06-2012', 'Italy'],
       [0.0, 1.0, 15685536, '2/21/2013', 'Italy'],
       [0.0, 1.0, 15760570, '03-11-2013', 'Italy'],
       [1.0, 0.0, 15807525, '6/21/2013', 'Italy'],
       [0.0, 1.0, 15728773, '01-10-2012', 'Italy'],
       [0.0, 1.0, 15757837, '8/27/2012', 'France'],
       [1.0, 0.0, 15579781, '09-05-2012', 'France'],
       [1.0, 0.0, 15679651, '08-07-2012', 'Italy'],
       [1.0, 0.0, 15694829, '01-12-2012', 'Italy'],
       [0.0, 1.0, 15714658, '02-03-2012', 'Italy'],
       [1.0, 0.0, 15577178, '04-11-2012', 'France'],
       [0.0, 1.0, 15649487, '02-01-2012', 'Germany'],
       [0.0, 1.0, 15773447, '6/14/2012', 'Italy'],
       [0.0, 1.0, 15628972, '1/24/2012', 'France'],
       [1.0, 0.0, 15680752, '02-04-2013', 'France'],
       [0.0, 1.0, 15680587, '1/22/2013', 'Italy']], dtype=object)

In [60]:
joblib.dump(sc,"startsc.pkl")

['startsc.pkl']

In [61]:
x_train.shape

(322, 5)